{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "iOS > 8",
            "Android >= 4.0",
            "ExplorerMobile >= 10",
            "last 2 versions"
          ]
        }
      },
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["transform-runtime", {
      "regenerator": true
    }]
  ]
}
