table.custom-table {
  width: auto;
  table-layout: fixed;
  word-wrap: normal;
  white-space: nowrap;
  margin-bottom: 300px;
}

.btn-th {
  padding: 0px;
}

.smaller {
  font-size: 75%;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: lightgray;
}

.iso-kuva {
  position: sticky;
  left: 100px;
  top: 100px;
}